
body{
    background-image: url(images/img.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
    
}


.form-control{
    width: 400px;
}

.container {
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1); 
}


@media screen and (max-width: 787px){
    .vote{
        font-size: 30pt;
    }

    .form-control{
        width: 100px;
    }
}
